

h1,h2,h3{
font-style: italic; color: brown;
}
p{
    color: blue; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.sharon{
    color: aquamarine; font-weight: 200; border: 0cap;
}
#ibra{
    color: blueviolet;text-align: right; background-color: beige;
}
body{
    background-color: black;
}
